*{
  font-family: Helvetica;
}

h2{
  margin-top: 30px;
}

body{
  #background-color: #fdf9ff;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  #background: #fdf9ff;
}
#about{
  display: flex;
}

#aboutText{
  #flex: 0 0 65%;
}
      
.essay{
  margin-top: 80px;
}

.topnav {
  overflow: hidden;
  #background-color: #111;
}

.topnav img{
  float: left;
}

.topnav a {
  
  float: left;
  color: #f2f2f2;
  text-align: center;
  background-color: #333;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.topnav a:hover {
  background-color: #ddc5e6;
  color: black;
}

.topnav a.active {
  background-color: #77458a;
  color: white;
}

.enrollButton{
  overflow: hidden;
  #background-color: #333;
  margin-top: 30px;
  margin-bottom: 20px;
}

.enrollButton a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #47CF73;
  border-radius: 10px;
}

.enrollButton a:hover {
  background-color: #a7d2b5;
  color: black;
}

.enrollButton a.active {
  background-color: #77458a;
  color: white;
}
